*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html,body{
	height: 100%;
}

body{
	background-image: url('../images/back.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


/* página de login */

.box-login{
	text-align: center;
	max-width: 450px;
	width: 95%;
	padding: 60px 1%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
}

.title-login{
	position: relative;
	text-align: left;
	margin: 15px 0;
}

.line-title-login{
	width: 78px;
	height: 1.8px;
	background-color:#2962ff;
}

.title-login h2{
	text-align: left;
	font-size: 20px;
	color:#fff;
	font-weight: 700;
}

.footer-login{
	padding: 20px 0;
	margin: 40px 0;
	position: relative;
	text-align: center;
}

.footer-login p{
	font-size: 15px;
	color: #b1bace;
}

.line-footer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color:#b1bace;
}

form > p{
	text-align: left;
	font-size: 11px;
	color: #ccc;
}

.box-login input[type=text],
.box-login input[type=password]
{
	background-color:rgba(96, 125, 139, 0.2);
	width: 100%;
	height: 40px;
	border: none;
	padding-left: 20px;
	margin: 10px 0;
	border-radius: 50px;
	color: white;
	font-size: 20px;
}

.box-login input[type=text]:focus,
.box-login input[type=password]:focus
{
	color: white;
	outline: 0;
	background-color:rgba(96, 125, 139, 0.2);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
{
    -webkit-box-shadow: 0 0 0 30px #fafafa inset;
}

.box-login input[type=submit]{
	display: inline-block;
	width: 100%;
	height: 50px;
	border: 1px solid #
	padding-left: 8px;
	cursor: pointer;
	margin: 10px 0;
	background-color:#2962ff;
	text-align: center;
	line-height: 40px;
	border: none;
	font-weight: bold;
	color: white;
	border-radius: 50px;
}

.box-erro{
	color: white;
	background-color: red;
	padding: 6px 2%;
	text-align: center;
	font-size: 16px;
}
.box-erro i{
	font-size: 18px;
	margin-right: 8px;
}


.form-check{
	margin-top: 30px;
}

.form-check label{
	font-size: 15px;
	color: #b1bace;
}

.form-check input[type=checkbox]{
	position: relative;
	top: 2px;
	cursor: pointer;
	padding: 8px;
	color: #ccc;
}

/* fim pagina login */
